<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  {% block title %} <title>Zetech | School System</title> {% endblock %}
  <title>  </title>

  <!-- CSS  -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% load static %}
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% load static %}
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Zetech</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://zetech.ac.ke">School Website</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">Zetech University</h1>
      <div class="row center">
        <h5 class="header col s12 black-text">The school System Page</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light blue">Log Into School System</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">accessibility</i></h2>
            <h5 class="center">Accessible</h5>

            <p class="light">
              System is modified to suit people of all natures. 
              We work on ensuring you access the school system with the convinience you deserve.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">devices_other</i></h2>
            <h5 class="center">Responsible pages</h5>

            <p class="light">
              Access the school system at the comfort of your devices. 
              Either a laptop, iphone, iPad, a tablet, a smartphone or even your desktop PC Comfortably
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">supervisor_account</i></h2>
            <h5 class="center">Friendly Account Pages</h5>

            <p class="light">
              Minimal features in your user-account page with an instant text-to-help button. 
              easy to navigate through and easy to understand.
            </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">School System</h5>
          <p class="grey-text text-lighten-4">Enjoy School Services Online...</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Quick Links</h5>
          <ul>
            <li><a class="white-text" href="#!">Exam and CATs Dates</a></li>
            <li><a class="white-text" href="#!">Course & Unit Codes</a></li>
            <li><a class="white-text" href="#!">Lecturer Contacts</a></li>
            <li><a class="white-text" href="#!">Semester Dates</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">LinkedIn</a></li>
            <li><a class="white-text" href="#!">Email</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Srydr101</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  {% load static %}
  <script src="{% static 'js/materialize.js' %}"></script>
  {% load static %}
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
